<div *ngIf="current.length === 0">
  <br>
  <p>Sorry, the details of this show is unavailable!</p>
</div>

<div *ngFor="let item of current">
  <br>
  <section>
      <div>
        <strong>ShowName: </strong> 
        <img [src]='item.image'> {{item.name}}                        
        <span>({{item.id}})</span>
      </div>
      <div>
        <strong>Language:</strong> {{item.language}}
      </div>
      <div>
        <strong>Days:</strong>
        <span *ngFor = "let g2 of item.days">
          {{g2}}
        </span>
      </div>
      <div>
        <strong>Time-Timezone: </strong> {{item.time}}  {{item.timezone}}
      </div>
      <div>
        <strong>Runtime: </strong>{{item.runtime}} minutes
      </div>
      <div>
        <strong>Genres: </strong>
        <span *ngFor="let g1 of item.genre">{{g1}} </span>
      </div>
      <div>
        <strong>Rating:</strong> 
        {{item.rating}}                    
      </div>
      <div>
        <strong>Status:</strong>
        {{item.status}}
      </div>
     
    </section>
</div>




<!-- <form>
  <div *ngFor="let item of current">
      <mat-grid-list cols="8" rowHeight="2:1">
      <mat-grid-tile>{{item.id}}</mat-grid-tile>
      <mat-grid-tile>{{item.name}}</mat-grid-tile>
      <mat-grid-tile>{{item.language}}</mat-grid-tile>
      <mat-grid-tile>
        <ul>
          <li *ngFor="let g1 of item.genre">
            {{g1}}
          </li>
        </ul>
      </mat-grid-tile>
      <mat-grid-tile>{{item.runtime}}</mat-grid-tile>
      <mat-grid-tile>{{item.time}}</mat-grid-tile>
      <mat-grid-tile>
        <div *ngFor = "let g2 of item.days">
          {{g2}}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <img [src] = 'item.image'>
      </mat-grid-tile>
    </mat-grid-list>
    </div>
  
</form> -->
<!-- <section class="row">
    <article style="height:80%; width: 30%; border: solid 1px black">
      <div style="overflow: auto;">
        <img [src] = 'item.image'/>
        
          {{item.name}}
          <ul>
          <li *ngFor="let g1 of item.genre">
            {{g1}}
          </li>
        </ul>
        {{item.runtime}}minutes,{{item.time}}
        <div *ngFor = "let g2 of item.days">
          {{g2}}
        </div>
    </div>
    </article>
  </section> -->