<!DOCTYPE html>
<html>
  <head>
    <title>TV Maze App</title>
  </head>
  <body>
    
    <h1>Welcome to Tv Maze!</h1>
    
    <ul>
      <li><a href="/">Home</a></li>
      <li><a routerLink="/Shows" routerLinkActive="active">Shows</a></li>
      <li><a routerLink="/People" routerLinkActive="active">People</a></li>    
      <li><a routerLink="/Networks" routerLinkActive="active">Networks</a></li>     
      <li><a routerLink="/WebChannels" routerLinkActive="active">WebChannels</a></li>
    </ul>
    <router-outlet></router-outlet>
    
  </body>
  
</html>